 .server-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
   &--serverDeadlines {
     //margin-top: 3rem;
     margin-top: 3vh;
   }
   &__deadlines {
     max-height: 37vh;
     //overflow: scroll;
     padding: 1rem;
     margin-left: -1rem;
     margin-top: -1rem;
   }
   &__bottom-row {
     display: grid;
     grid-template-columns: 50% auto;
   }
  }