@import "../App";

.header {
  height: 4rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  &__item {
    margin-left: 5rem;
    &--gillz {
      background: $gillzRed;
      width: 9rem;
      height: 5rem;
      transform: skew(-7.5deg);
      margin-right: 3rem;
      a {
        text-decoration: none;
        color: white;
        h2 {
          transform: skew(7.5deg);
          padding-left: 4rem;
          font-size: 2em;
          margin-top: -0.5rem;
          margin-bottom: 0.5rem;
          color: white;
        }
        p {
          transform: skew(7.5deg);
          font-size: 0.7em;
          padding-left: 0.25rem;
          padding-right: 1rem;
          margin-top:-1rem;
          text-align: right;
        }
      }
    }
  }
}