@import "../App";

.deadlines-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100%);
  grid-column-gap: 3rem;
  grid-row-gap: 2.5vh;
  a {
    text-decoration: none;
    p {
      color: $gillzBlue;
    }
  }
  &__sort {
    display: flex;
    flex-direction: row;
    margin-top: -1.5%;
    width: 50%;
    h3 {
      margin-right: 1rem;
      padding-right: 1rem;
      border-right: 2px solid lightgray;
    }
    &--button {
      appearance: none;
      background-color: transparent;
      border-radius: $radius;
      //box-shadow: $shadow;
      border: none;
      padding: 0 1rem 0 1rem;
      margin-right: 1rem;
      font-family: CairoSemiBold;
      outline: none;
      cursor: pointer;
      border: 2px solid lightgray;
      &:hover {
        //box-shadow: $shadowHover;
      }
    }
  }
  .deadline {
    display: flex;
    flex-direction: row;
    //background: white;
    border-radius: 10px;
    //padding: 0.5em;
    //box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.5);
    box-shadow: $shadowSmall;
    justify-content: space-between;
    transition: all 0.5s ease;
    min-width: 30% !important;
    &:hover {
      box-shadow: 0px 0px 15px 0px rgba(179,179,179,1);
    }

    &:hover .deadline-rightside__add-image img {
      opacity: 1;
      width: 1em;
    }
    &-leftside {
      display: flex;
      flex-direction: row;
      padding: 0.25rem;
      //z-index: 1;
      &__title {
        color: white;
        //mix-blend-mode: difference;
        h3 {
          padding-right: 1rem;
          margin-right: 1rem;
          border-right: 2px solid #D8D8D8;
          color: white;
        }
      }
    &__member-container {
      display: flex;
      align-items: center;
      img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
        border-radius: 100%;
        filter: grayscale(1);
        transition: all 0.2s ease;
        &:hover {
          filter: grayscale(0);
        }
      }
    }
    }
    &-rightside {
      display: flex;
      flex-direction: row;
      color: white;
      mix-blend-mode: difference;
      &__add-image {
        margin-left: 1rem;
        cursor: pointer;
        transition: all 0.2s ease;
        border-radius: 100%;
        color: white;
        mix-blend-mode: difference;
        img {
          padding-top: 0.75rem;
          padding-right: 0.5rem;
          height: 1em;
          opacity: 0;
          width: 0;
          transition: all 0.2s ease;
        }
      }
      .days-remaining {
        display: flex;
        align-items: center;
      }
    }
    &__background {
      background-color: red;
      width: 1em;
      border-radius: $radius;
      //position: relative;
      z-index: 1;
    }
  }
}

.transition {
  transition: all 0.5s ease;
}

.deadline--alert {
  background: $gillzRed !important;
}

.hidden {
  display: none !important;
}

.activeSort {
  border: 2px solid $gillzRed;
  color: $gillzRed;
}

.unavailableMember {
  opacity: 0.5;
}