@import "../App";

.modal {
  display: none;
  padding: 1rem;
  border-radius: $radius;
  border: none;
  flex-direction: column;
  background-color: $gray;
  width: 30vw;
  transition: all 1s ease;
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  margin: auto;
  //box-shadow: 0px 0px 1500px 1000px rgba(179,179,179,0.5);
  //box-shadow: 0px 0px 1500px 1000px rgba(0,0,0,0.5);
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    h2 {
      margin-top: -1rem;
    }
    img {
      width: 1rem;
      height: 1rem;
      transform: rotate(45deg);
      padding: 0.25em;
      border-radius: 100%;
      cursor: pointer;
      &:hover {
        background: white;
        box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.5);
      }
      &:focus {
        background: white;
        box-shadow: 0px 0px 15px 0px rgba(179,179,179,1);
      }
    }
  }
  .deadlineForm {
    display: flex;
    flex-direction: column;
    &__label {
      font-size: 1em;
      margin-bottom: 0.5rem;
    }
    &__name {
      width: 70%;
      border: none;
      font-size: 1em;
      padding: 0.25em;
      border-radius: 10px;
      box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.25);
      margin-bottom: 1rem;
      font-family: CairoLight;
      &:focus {
        box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.5);
      }
    }
    &__date {
      width: 70%;
      border: none;
      font-size: 1em;
      padding: 0.25em;
      border-radius: 10px;
      box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.25);
      margin-bottom: 1rem;
      font-family: CairoLight;
    }
    &__link {
      width: 70%;
      border: none;
      font-size: 1em;
      padding: 0.25em;
      border-radius: 10px;
      box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.25);
      margin-bottom: 1rem;
      font-family: CairoLight;
    }
    &__select {
      border: none;
      box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.25);
      appearance: none;
      background-color: white;
      border-radius: 10px;
      width: 70%;
      padding: 0.25em 0.5em 0.25em 0.5em;
      font-family: CairoLight;
      font-size: 1em;
      background-image: url('../img/arrow-down.svg');
      background-repeat: no-repeat;
      background-position: 95%;
      background-size: 0.75em;
      margin-bottom: 1rem;
    }
    .members {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 3vh;
      margin-bottom: 3vh;
      &__section {
        width: 25%;
        &--radio {
          border: none;
          color: red;
        }
        select {
          border: none;
          box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.25);
          appearance: none;
          background-color: white;
          border-radius: 10px;
          width: 100%;
          padding: 0.25em 0.5em 0.25em 0.5em;
          font-family: CairoLight;
          margin-top: 1rem;
          font-size: 1em;
        }
      }
    }
    .submitButton {
      width: 25%;
      appearance: none;
      border: none;
      background-color: white;
      padding: 0.5em;
      margin-left: auto;
      box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.25);
      border-radius: 10px;
      transition: all 0.2s ease;
      cursor: pointer;
      color: $gillzBlue;
      border: 2px solid transparent;
      &:hover {
        background-color: #56EB95;
        color: white;
        box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.5);
      }
    }
    .deleteButton {
      width: 25%;
      appearance: none;
      border: none;
      background-color: transparent;
      padding: 0.5em;
      box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.25);
      border-radius: 10px;
      transition: all 0.2s ease;
      cursor: pointer;
      border: 2px solid transparent;
      &:hover {
        background-color: $gillzRed;
        color: white;
        box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.5);
      }
    }
    &__buttons{
      display: flex;
      justify-content: space-between;
    }
  }
}

@keyframes fade {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(-15%);
    opacity: 1;
  }
}

.visibleAnim {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  animation: fade 0.2s ease forwards;
  z-index: 2;
  position: fixed;
}

.visible {
  opacity: 1 !important;
}

.modal-background {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}