@import "../App";

.zendesk-container {
  margin-left: -0.5rem;
  overflow: hidden;
  &__table {
    //border-collapse: separate;
    border-spacing: 0.5em 1em;
    //width: 97%;
    width: 100%;
    border-radius: $radius;
    &__body {
      &__head {
        font-family: CairoSemiBold;
        text-align: left;
      }
      &__data {
        font-family: Cairo;
        border-radius: $radius;
        background-color: white;
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover {
          background-color: transparent;
        }
        td:first-child {
          border-top-left-radius: $radius;
          border-bottom-left-radius: $radius;
          width: 2rem;
        }
        td:last-child {
          border-top-right-radius: $radius;
          border-bottom-right-radius: $radius;
          width: 1rem;
        }
        td {
          max-width: 20rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0.25rem 1rem 0.25rem 1rem;
          box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.25);
          img {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 95%;
  list-style: none;
  padding-inline-start: 0;
  li {
    //box-shadow: $shadowSmall;
    border-radius: $radius;
    transition: all 0.2s ease;
    padding: 0.25rem;
    cursor: pointer;
    margin: 0.25rem;
    &:focus {
      outline: none;
    }
    &:hover {
      //box-shadow: $shadowHoverSmall;
      color: white;
      background-color: $gillzRed;
    }
    a {
      padding: 0.25rem;
      margin: 0.5rem;
    }
  }
  &__link {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: $radius;
    outline: none;
    cursor: pointer;
    //background-color: white;
    color: $gillzBlue;
    transition: all 0.2s ease;
    &:hover {
      color: white;
      background-color: $gillzRed;
    }
    &--disabled {
      color: lightgrey;
    }
    &--active {
      color: white;
      background-color: $gillzRed;
    }
  }
}

//Zendesk status
.urgent {
  background-color: $gillzRed;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.high {
  background-color: $gillzRedLight;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.normal {
  background-color: $gillzRedLighter;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.low {
  background-color: $gillzRedLightest;
  border-radius: 5px;
  color: white;
  text-align: center;
}