@import "../App";

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-container {
  height: 38.5vh;
  display: flex;
  justify-content: center;
  .loading {
    //height: 10em;
    //width: 15em;
    height: 4rem;
    width: 4rem;
  }
}

.card-container {
  display: grid;
  //grid-template-columns: 30% 30% 30%;
  grid-template-columns: repeat(auto-fit, 30%);
  grid-template-rows: 50% 50%;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  margin-bottom: 2rem;
  a {
    display: grid;
    text-decoration: none;
  }
  &__card {
    background: white;
    border-radius: 10px;
    box-shadow: $shadow;
    transition: all 0.2s ease;
    animation: opacity 1s ease;
    &:hover {
      box-shadow: $shadowHover;
    }
    .card-layout {
      display: flex;
      flex-direction: row;
      padding: 5% 3.5% 5% 3.5%;
      //margin: 5% 3.5% 5% 3.5%;
      justify-content: space-between;
      height: 70%;
      &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h4 {
          margin-top: -0.9rem;
          font-weight: 700;
          font-size: 1.5em;
        }
        &--bottomstatus {
          display: flex;
          flex-direction: row;
          p {
            //font-size: 0.7em;
            //font-size: 1em;
            font-size: 80%;
            color: $gillzBlue;
            span {
              margin-right: 1rem;
              font-weight: bold;
              color: $green;
            }
          }
        }
      }
      img {
        width: 3vw;
        height: 64%;
        object-fit: fill;
        margin-right: 1rem;
      }
      .currentstatus {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        justify-content: space-between;
        //margin-right: auto;
        img {
          width: 3vw;
          height: 3vw;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          //font-size: 0.7em;
          //font-size: 1em;
          font-size: 80%;
          color: $green;
          text-align: center;
        }
      }
    }
  }
}
