@import "../App";

.deadlines-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 90%);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  a {
    text-decoration: none;
    p {
      color: $gillzBlue;
    }
  }
  .deadline {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 10px;
    padding: 0.5em;
    box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.5);
    justify-content: space-between;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0px 0px 15px 0px rgba(179,179,179,1);
    }
    &-leftside {
      display: flex;
      flex-direction: row;
      h3 {
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: 2px solid #D8D8D8;
      }
    &__member-container {
      display: flex;
      align-items: center;
      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        border-radius: 100%;
        filter: grayscale(1);
        transition: all 0.2s ease;
        &:hover {
          filter: grayscale(0);
        }
      }
    }
    }
    .days-remaining {
      display: flex;
      align-items: center;
    }
  }
}

.transition {
  transition: all 0.5s ease;
}

.hundreddays {
  width: 100%;
  transition: all 0.5s ease;
    }
.ninetydays {
  width: 90%;
  transition: all 0.5s ease;
}
.eightydays {
  width: 80%;
  transition: all 0.5s ease;
}
.seventydays {
  width: 70%;
  transition: all 0.5s ease;
}